<div class="message-wrapper <%= 'sent' if was_sent_by_user %>">
  <div class="bubble <%= 'sent' if was_sent_by_user %> <%= 'extra-top-space' if message.preceded_by_message_from_other_user? %>">
    <span>
      <%= message.content %>
    </span>
    <span class="timestamp"><%= message.time %>
      <% if was_sent_by_user %>
        <i class="fas fa-check-double check-small <%= 'blue' if message.seen %>"></i>
      <% end %>
    </span>
    <% if message.last_of_series? %>
      <div class="bubble-arrow <%= 'sent' if was_sent_by_user %>"></div>
    <% end %>
  </div>
</div>


<!-- if message is not preceded by message from other user aka if its preceded by message from same user -->

<!-- if last message if from other user do nothing
get array of all messages, if last message is from other user do nothing
if last message is from user, do something
 -->
