<div class="container" id="container-dashboard">
  <div class="navbar">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-cog icon"></i>
    <% end %>
    <h4>Chats</h4>
    <i class="far fa-edit icon new-chat"></i>
  </div>
  <div class="chat-list">
    <div id="add-contact">
      <%= simple_form_for(Message.new) do |f| %>
        <%= f.input :recipient, placeholder: "Type contact's username eg: 'Kenny'",  label: false %>
        <%= f.button :button, class: 'add-icon' do %>
          <i class="fas fa-user-plus blue"></i>
        <% end %>
      <% end %>
    </div>
    <% if @chats.empty? %>
      <%= render 'new_user_introductory_chat_card' %>
    <% end %>
    <% @chats.each do |chat| %>
      <%= link_to chat_path(chat) do  %>
        <%= render 'chat_card', chat: chat, user: @user %>
      <% end %>
    <% end %>
  </div>
</div>


<% content_for :after_js do %>
  <%= javascript_pack_tag 'contact-form' %>
  <script>
    // Displays updated chat-chard when new message is sent
    function updateChatCard(data) {
      makeSeenCheckBlue(data);
      const chatCard = document.getElementById(`chat-card-${data.chat_id}`);
      const contactForm = document.getElementById('add-contact');
      if (chatCard) {
        chatCard.remove();
      }
      contactForm.insertAdjacentHTML('afterend', `${data.chat_partial}`);
    }

    // Display 'typing...' on chat card when someone is writing
    function displayTypingEvent(data) {
      const chatCardNotificationArea = document.getElementById(`message-content-${data.chat_id}`);
      window.clearTimeout(window['timeoutHandle_' + data.chat_id]);
      if (chatCardNotificationArea.innerHTML !== "<i>typing...</i>") {
        window['messageContent_' + data.chat_id] = chatCardNotificationArea.innerHTML;
      }
      chatCardNotificationArea.innerHTML = "<i>typing...</i>";
      window['timeoutHandle_' + data.chat_id] = window.setTimeout(function(){
        chatCardNotificationArea.innerHTML = window['messageContent_' + data.chat_id]
      },1500);
    }

    // In a chat card where current user sent last message, read receipt will turn blue
    function makeSeenCheckBlue(data) {
      chatId = data.chat_id;
      const seenReceipt = document.querySelector(`#chat-card-${chatId} .fa-check-double`)
      if (seenReceipt) {
        seenReceipt.classList.add('blue');
      };
    }

    App['user_<%= @user.id %>'] = App.cable.subscriptions.create({ channel: 'UsersChannel', user_id: <%= @user.id %> }, {
      received: (data) => {
        if (data.type === "new message (chat-card)") {
          updateChatCard(data);
        } else if (data.type === "messages seen") {
          makeSeenCheckBlue(data);
        } else {
          displayTypingEvent(data);
        }
      }
    })

  </script>

<% end %>
