<div class="container" id="container-dashboard">
  <div class="navbar">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-cog icon"></i>
    <% end %>
    <h4>Chats</h4>
    <i class="far fa-edit icon new-chat"></i>
  </div>
  <div class="chat-list">
    <div id="add-contact">
      <%= simple_form_for(Message.new) do |f| %>
        <%= f.input :recipient, placeholder: "Type contact's username eg: 'Kenny'",  label: false %>
        <%= f.button :button, class: 'add-icon' do %>
          <i class="fas fa-user-plus blue"></i>
        <% end %>
      <% end %>
    </div>
    <% @chats.each do |chat| %>
      <%= link_to chat_path(chat) do  %>
        <%= render 'chat_card', chat: chat, user: @user %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function displayAddContactForm() {
    const contactForm = document.getElementById('add-contact');
    contactForm.style.display = "flex";
    console.log(contactForm);
  }

  document.querySelector('.new-chat').addEventListener('click', displayAddContactForm);

  function hideContactFormWhenScrolled() {
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      console.log('ehy');
      const currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        const contactForm = document.getElementById("add-contact");
        contactForm.style.display = "none";
      }
      prevScrollpos = currentScrollPos;
    }
  }

  hideContactFormWhenScrolled();

</script>
